# data manipulation
pandas

# database connectivity
sqlalchemy
psycopg2-binary
pyodbc
pymysql
snowflake-sqlalchemy
snowflake-connector-python[pandas]
cryptography

# jupyter notebook support
ipykernel
notebook